*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* loader */
.loader{
    font-size: 5rem;
    z-index: 20;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cercle{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    position: fixed;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: red;
    animation: spin 2s linear infinite;
}
.circle::before, .circle::after{
    content: "";
    position: fixed;
    border-radius: 50%;
    border: 7px solid transparent;
}
.circle::before{
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: 7px;
    border-top-color: crimson;
    animation: spin 3s linear infinite;
}
.circle::after{
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border-top-color: pink;
    animation: spin 1.5s linear infinite;
}
#loader{
    display: flex;
    flex-direction: column;
}
@keyframes loader {
    100%{
        transform: translateY(-30px);
    }
}
@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/* FIN loader */

.img_accueil > h1{
    animation-name: h1;
    position: absolute;
    color: whitesmoke;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.400);
}

#accueil_desktop, #contact, #boissons{
    scroll-margin-top: 100px;
}
#slide{
    scroll-margin-top: 200px;
}

footer, #contact, #mes_competences, #boissons{
    font-family: system-ui, sans-serif;
}
/* -------------- BOISSONS ------------------ */
.cards_boissons{
    padding: 80px 0;
}
.cards_boissons > .cards{
    background-color: #ffffffb2;
    box-shadow: 5px 5px 5px #100D0D;
    margin: 30px 15px;
    padding: 5px;
    aspect-ratio: 2/1;
    border-radius: 1%;
    transition: background-color 1s ease-out, color 1s, box-shadow 1s ease-out;
    max-width: 220px;
    min-width: 220px;
    min-height: 220px;
    max-height: 220px;
}
.cards_boissons > .cards:first-child{
    margin-top: 0;
}
.carte1:hover{
    background-color: #4497e9d8;
}
.carte2:hover{
    background-color: #cc5d34d7;
}
.carte3:hover{
    background-color: #826bf9;
}
.cards:hover{
    box-shadow: 5px 5px 5px #7a7878;
}
.cards > img{
    width: 100%;
    height: 100%;
}
.cards_boissons{
    display: grid;
    grid-template-areas: 
    "image1"
    "texte1"
    "image2"
    "texte2"
    "image3" 
    "texte3";
    justify-items: center;
    align-content: center;
}
.cards_boissons > *{
    text-align: center;
}
.first_image
{
    grid-area: image1;
}
.first_texte{
    grid-area: texte1;
}
.snd_image{
    grid-area: image2;
}
.snd_texte{
    grid-area: texte2;
}
.third_image{
    grid-area: image3;
}
.third_texte{
    grid-area: texte3;
}
.cards_boissons > section > h1 {
    margin-bottom: 10px;
}
.first_texte, .snd_texte, .third_texte{
    margin-left: 50px;
    margin-right: 50px;
}
.ardoise{
    background-color: rgb(37, 29, 23);
    color: white;
}
/* -------------- FIN BOISSONS ------------------ */

 /* -------------- FORMULAIRE ------------------ */

#formulaire{
    padding: 50px 0px 50px 0px;
}
.formulaire_container_bars{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/client.jpg) no-repeat center/cover scroll;
}
.formulaire_container_immobilier{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/immobilier_formulaire.jpg) no-repeat center/cover scroll;
}
.formulaire_container_fashion{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/fashion_formulaire.jpg) no-repeat center/cover scroll;
}

.contact > h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
.contact > input, textarea{
    padding: 5px;
}
#formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#formulaire > div{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(58, 45, 45, 0.548);
    padding: 50px 0 80px 0;
}
#formulaire > div > *{
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    width: 80%;
    color: rgb(15, 15, 15);
}
#formulaire > div > label{
    color: white;
}
#formulaire > div > h1{
    color: white;
}
#formulaire > div > input{
    font-family: "Poppins", sans-serif;
    padding-left: 5px;
}
.envoyer{
    background: linear-gradient(black, black, grey);
    color: white !important;
    padding: 10px 0 10px 0;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}
/* ------------ FIN FORMULAIRE ---------------- */

/* -------------- PIED DE PAGE ------------------ */

.piedDePage
    {
        height: 50px; display: flex; text-align: center; justify-content: center; align-items: center; border-top: 5px solid black;
        background-color: rgb(15, 15, 15);
        color: white;
    }

/* ------------ FIN PIED DE PAGE ---------------- */

/* --------------- DÉBUT SLIDERS -------------- */
.slide{
    max-width: 100%;
}

.slide h1{
    text-align: center;
    margin: 20px 0;
}

.slider-container {
    max-width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    margin-bottom: 50px;
    max-width: 80vh;
}

.slider-container img {
    width: 100%;
    height: 100%;
}

.slider-container .items {
    width: 100%;
    height: 100%;
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.dots{
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px 2px 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* --------------- FIN SLIDERS -------------- */

/* 
---------------------
---------------------
---------------------
    ! MEDIA SCREEN
---------------------
---------------------
---------------------
*/

/* mobile */
@media (max-width: 900px){
    .theme
    {
        position: fixed;
        z-index: 15;
        text-align: center;
        bottom: 1%;
        right: 1%;
    }
    .theme > h3
    {
        margin-bottom: 10px;
        margin: 5px;
        padding: 8px;
        background-color: rgb(15, 15, 15);
        color: rgb(211, 211, 211);
        border: 2px solid rgb(211, 211, 211);
        border-radius: 5px;
    }
    .theme > h3 > ul > li > button
    {
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 8px;
        color: rgb(211, 211, 211);
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
        cursor: pointer;
    }
    .theme > h3 > ul > li > button
    {
        background-color: rgb(39, 41, 37);
        color: rgb(37, 29, 23);
        border: 1px solid rgb(255, 255, 255);
    }
    .theme > h3 > ul > li > button:hover
    {
        background-color: rgb(211, 211, 211);
        color: rgb(37, 29, 23);
        border: 1px solid rgb(37, 29, 23);
    }
    .cards_boissons > section > p {
        padding: 10px 75px;
    }
    .loader{
        display: none;
    }
    .img_accueil{
        min-height: 120vh;
        background: url('./Ressources/bar2.jpg') 55%/cover scroll no-repeat;
        position: relative;
        overflow-x: hidden;
        margin-top: -220px;
    }
    .img_accueil>h1{
        animation-duration: 2s;
        top: 48%;
        left: 10%;
        font-size: 3rem;
    }
    @keyframes h1 {
        from {
            opacity: 0.5;
            transform: translateX(-100%);
        }
        to{transform: translateX(0%);}
    }
}

/* Tablette */
@media (min-width: 900px) and (max-width: 1800px)
{
    .theme
    {
        position: fixed;
        z-index: 15;
        top: 6%;
        left: 2%;
    }
    .theme > h3
    {
        margin-bottom: 10px;
        margin: 5px;
        padding: 8px;
        background-color: rgb(15, 15, 15);
        color: rgb(211, 211, 211);
        border: 2px solid rgb(211, 211, 211);
        border-radius: 5px;
    }
    .theme > h3 > ul > li > button
    {
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 8px;
        background-color: rgb(39, 41, 37);
        color: rgb(211, 211, 211);
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
        cursor: pointer;
    }
    .theme > h3 > ul > li > button:hover
    {
        background-color: rgb(211, 211, 211);
        color: rgb(37, 29, 23);
        border: 1px solid rgb(37, 29, 23);
    }
    .select-div-bar
    {
        position: absolute;
    }
    
    .select_nav
    {
        cursor: pointer;
        text-align: center;
        background-color: rgb(15, 15, 15);
        color: white;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 30px;
        padding: 10px;
        font-size: 1.3rem;
        position: fixed;
        transform: translate(0, 10%);
        z-index: 5;
    }

    #slide
    {
        scroll-margin-top: 100px;
    }
    .img_accueil
    {
        background-image: url(./Ressources/bar2.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-color: #013328;
        height: 100vh;
    }
    .img_accueil>h1
    {
        animation-duration: 5s;
        left: 30%;
        top: 40%;
        font-size: 6rem;
        margin-right: 50vh;
    }
    @keyframes h1 
    {
        from 
        {
            opacity: 0.5;
            transform: translateY(-175%);
        }
        to{transform: translateY(0%);}
    }
    /* -------------- BOISSONS ------------------ */
    #boissons_desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cards_boissons
    {
        grid-template-areas: 
        "image1 texte1 texte1"
        "texte2 texte2 image2"
        "image3 texte3 texte3";
        margin: 0px;
        padding: 90px 0 90px 0;
        max-width: 70%;
    }
    /* CARDS */
    .cards_boissons > .cards
    {
        max-width: 300px;
        min-width: 200px;
        min-height: 300px;
        max-height: 270px;
    }
    .cards_boissons > section 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
    }
    .cards_boissons > section > h1 
    {
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .cards_boissons > section {
        margin: 0% 20% ;
    }
    /* -------------- FIN BOISSONS ------------------ */
    /* -------------- FORMULAIRE ------------------ */
    
    #formulaire > div
    {
        width: 65%;
    }
    #formulaire > div > *
    {
        width: 70%;
    }
    /* ------------ FIN FORMULAIRE ---------------- */
    /* --------------- DÉBUT SLIDERS -------------- */
    .slide
    {
        margin: 50px;
    }
    .slider-container 
    {
        width: 100%;
        margin: auto;
    }
    /* --------------- FIN SLIDERS -------------- */
}

/* PC */
@media (min-width: 1800px)
{
    .theme
    {
        position: fixed;
        z-index: 15;
        top: 6%;
        left: 2%;
    }
    .theme > h3
    {
        margin-bottom: 10px;
        margin: 5px;
        padding: 8px;
        background-color: rgb(15, 15, 15);
        color: rgb(211, 211, 211);
        border: 2px solid rgb(211, 211, 211);
        border-radius: 5px;
    }
    .theme > h3 > ul > li > button
    {
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 8px;
        background-color: rgb(39, 41, 37);
        color: rgb(211, 211, 211);
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
        cursor: pointer;
    }
    .theme > h3 > ul > li > button:hover
    {
        background-color: rgb(211, 211, 211);
        color: rgb(37, 29, 23);
        border: 1px solid rgb(37, 29, 23);
    }
    .select-div-bar
    {
        position: absolute;
    }
    
    .select_nav
    {
        cursor: pointer;
        text-align: center;
        background-color: rgb(15, 15, 15);
        color: white;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 30px;
        padding: 10px;
        font-size: 1.3rem;
        position: fixed;
        transform: translate(0, 10%);
        z-index: 5;
    }

    #slide
    {
        scroll-margin-top: 100px;
    }
    .img_accueil
    {
        background-image: url(./Ressources/bar2.jpg);
        background-size: cover;
        background-position: 0%;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-color: #013328;
        height: 98vh;
    }
    .img_accueil>h1
    {
        animation-duration: 5s;
        left: 30%;
        top: 40%;
        font-size: 6rem;
        margin-right: 50vh;
    }
    @keyframes h1 
    {
        from 
        {
            opacity: 0.5;
            transform: translateY(-175%);
        }
        to{transform: translateY(0%);}
    }
    /* -------------- BOISSONS ------------------ */
    #boissons_desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cards_boissons
    {
        grid-template-areas: 
        "image1 texte1 texte1"
        "texte2 texte2 image2"
        "image3 texte3 texte3";
        max-width: 60%;
    }
    /* CARDS */
    .cards_boissons > .cards
    {
        max-width: 250px;
        min-width: 250px;
        min-height: 250px;
        max-height: 250px;
    }
    .cards_boissons > section 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.3rem;
    }
    .cards_boissons > section > h1 
    {
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .cards_boissons > section {
    margin: 0% 20% ;
    }
    /* -------------- FIN BOISSONS ------------------ */
    /* -------------- FORMULAIRE ------------------ */
    
    #formulaire > div
    {
        width: 35%;
    }
    #formulaire > div > *
    {
        width: 55%;
    }
    /* ------------ FIN FORMULAIRE ---------------- */
    /* --------------- DÉBUT SLIDERS -------------- */
    .slide
    {
        margin: 50px;
    }
    .slider-container 
    {
        width: 60vw;
        margin: auto;
    }
    /* --------------- FIN SLIDERS -------------- */
}
