*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* loader */
.loader{
    font-size: 5rem;
    z-index: 20;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cercle{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    position: fixed;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: red;
    animation: spin 2s linear infinite;
}
.circle::before, .circle::after{
    content: "";
    position: fixed;
    border-radius: 50%;
    border: 7px solid transparent;
}
.circle::before{
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: 7px;
    border-top-color: crimson;
    animation: spin 3s linear infinite;
}
.circle::after{
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border-top-color: pink;
    animation: spin 1.5s linear infinite;
}
#loader{
    display: flex;
    flex-direction: column;
}
@keyframes loader {
    100%{
        transform: translateY(-30px);
    }
}
@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/* FIN loader */

.img_acceuil > h1{
    animation-name: h1;
    position: absolute;
    color: whitesmoke;
    text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(5, 5, 5), 0 2px rgb(0, 0, 0), 0 -2px rgb(255, 255, 255),
    1px 1px rgb(3, 3, 3), -1px -1px rgb(0, 0, 0), 1px -1px rgb(243, 243, 243), -1px 1px rgb(3, 3, 3);
}

#acceuil_desktop, #contact, #boissons{
    scroll-margin-top: 100px;
}
#jeux{
    scroll-margin-top: 200px;
}
#contact, #formulaire,  .carte, footer, .img_acceuil{
    font-family: "Poppins", sans-serif;
}
#mes_competences, #boissons{
    font-family: system-ui, sans-serif;
}
/* -------------- BOISSONS ------------------ */
#boissons_desktop > h1{
    text-align: center;
    padding-top: 100px;
    font-size: 2rem;
    padding-left: 50px;
    padding-right: 50px;
}
.cards_boissons > .cards{
    background-color: #ffffffb2;
    box-shadow: 5px 5px 5px #100D0D;
    margin: 30px 15px 30px 15px;
    padding: 10px 10px 10px 10px;
    aspect-ratio: 2/1;
    border-radius: 1%;
    transition: background-color 1s ease-out, color 1s, box-shadow 1s ease-out;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
}
.carte1:hover{
    background-color: #4497e9d8;
}
.carte2:hover{
    background-color: #cc5d34d7;
}
.carte3:hover{
    background-color: #826bf9;
}
.cards:hover{
    box-shadow: 5px 5px 5px #7a7878;
}
.cards > img{
    width: 100%;
    height: 100%;
}
.cards_boissons{
    display: grid;
    grid-template-areas: 
    "image1"
    "texte1"
    "image2"
    "texte2"
    "image3" 
    "texte3";
    margin: 30px;
    justify-items: center;
    padding-bottom: 100px;
    align-content: center;
}
.cards_boissons > *{
    text-align: center;
}
.first_image
{
    grid-area: image1;
}
.first_texte{
    grid-area: texte1;
}
.snd_image{
    grid-area: image2;
}
.snd_texte{
    grid-area: texte2;
}
.third_image{
    grid-area: image3;
}
.third_texte{
    grid-area: texte3;
}
#cartes{
    margin-left: 50px;
}
.cards_boissons > section > h1 {
    margin-bottom: 10px;
}
.cards_boissons > section {
    margin-bottom: 50px;
}

.first_texte, .snd_texte, .third_texte{
    margin-left: 50px;
    margin-right: 50px;
}
.ardoise{
    background-color: #32152b;
    color: white;
}
/* -------------- FIN BOISSONS ------------------ */

 /* -------------- FORMULAIRE ------------------ */

#formulaire{
    padding: 50px 0px 50px 0px;
}
.formulaire_container_bars{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/client.jpg) no-repeat center/cover scroll;
}
.formulaire_container_immobilier{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/immobilier_formulaire.jpg) no-repeat center/cover scroll;
}
.formulaire_container_fashion{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/fashion_formulaire.jpg) no-repeat center/cover scroll;
}

.contact > h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
#formulaire > div{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(58, 45, 45, 0.548);
    margin: 0 30px 0 30px;
    padding: 50px 0 80px 0;
}
#formulaire > div > *{
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    width: 80%;
    color: rgb(0, 0, 0);
}
#formulaire > div > label{
    color: white;
}
#formulaire > div > h1{
    color: white;
}
#formulaire > div > input{
    font-family: "Poppins", sans-serif;
    padding-left: 5px;
}
.envoyer{
    background: linear-gradient(black, black, grey);
    color: white !important;
    padding: 10px 0 10px 0;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}
/* ------------ FIN FORMULAIRE ---------------- */

/* -------------- CARTE BARS ------------------ */
.carteBars{
    border-top: 5px solid black;
    background-color: #32152b;
    color: white
}
.carteBars > div > img{
    max-width: 350px;
    text-align: center;
}
.carteBars :first-child{
    font-size: 1.5rem;
}
.carteBars > div > p{
    max-width: 90%;
}
/* ------------ FIN CARTE BARS ---------------- */

/* --------------- DÉBUT SLIDERS -------------- */
.slide{
    margin: 0px;
}

.slide h1{
    text-align: center;
    margin-bottom: 20px;
}

.slider-container {
    max-width: 100%;
    min-height: 300px;
    aspect-ratio: 16/9;
    position: relative;
    margin-bottom: 50px;
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container .items {
    width: 100%;
    height: 100%;
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.dots{
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px 2px 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* --------------- FIN SLIDERS -------------- */

/* 
---------------------
---------------------
---------------------
    ! MEDIA SCREEN
---------------------
---------------------
---------------------
*/

/* mobile */
@media (max-width:900px){
    .theme
    {
        width: 25%;
        position: fixed;
        z-index: 15;
        top: 30rem;
        bottom: 30%;
        left: 72%;
        text-align: center;
    }
    .theme > h3
    {
        margin-bottom: 10px;
        margin: 5px;
        padding: 8px;
        background-color: #32152b;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
    }
    .theme > h3 > ul > li > button
    {
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 8px;
        background-color: #32152b;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
    }
    .theme > h3 > ul > li > button:hover
    {
        background-color: white;
        color: #32152b;
        border: 1px solid #32152b;
    }
    .loader{
        display: none;
    }
    .img_acceuil{
        min-height: 120vh;
        background: url('./Ressources/bar2.jpg') center/cover scroll no-repeat;
        position: relative;
        overflow-x: hidden;
        margin-top: -220px;
    }
    .img_acceuil>h1{
        animation-duration: 2s;
        top: 48%;
        left: 10%;
        font-size: 3rem;
    }
    @keyframes h1 {
        from {
            opacity: 0.5;
            transform: translateX(-100%);
        }
        to{transform: translateX(0%);}
    }
    /* -------------- CARTE BARS ------------------ */
    .carteBars{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 700px;
    }
    /* ------------ FIN CARTE BARS ---------------- */
}


/* PC */
@media (min-width: 900px)
{
    .theme
    {
        position: fixed;
        z-index: 15;
        top: 10%;
        left: 2%;
    }
    .theme > h3
    {
        margin-bottom: 10px;
        margin: 5px;
        padding: 8px;
        background-color: #32152b;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
    }
    .theme > h3 > ul > li > button
    {
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 8px;
        background-color: #32152b;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
    }
    .theme > h3 > ul > li > button:hover
    {
        background-color: white;
        color: #32152b;
        border: 1px solid #32152b;
    }
    .select-div-bar
    {
        position: absolute;
    }
    
    .select_nav
    {
        cursor: pointer;
        text-align: center;
        background-color: #32152b;
        color: white;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 30px;
        padding: 10px;
        font-size: 1.3rem;
        position: fixed;
        transform: translate(0, 10%);
        z-index: 5;
    }

    #jeux
    {
        scroll-margin-top: 100px;
    }
    .img_acceuil
    {
        background-image: url(./Ressources/bar2.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-color: #013328;
        min-height: 1000px;
    }
    .img_acceuil>h1
    {
        animation-duration: 5s;
        left: 45%;
        top: 28%;
        font-size: 8rem;
    }
    @keyframes h1 
    {
        from 
        {
            opacity: 0.5;
            transform: translateY(-175%);
        }
        to{transform: translateY(0%);}
    }
    /* -------------- BOISSONS ------------------ */
    #boissons_desktop > h1
    {
        font-size: 3rem;
    }
    .cards_boissons
    {
        grid-template-areas: 
        "image1 texte1 texte1"
        "texte2 texte2 image2"
        "image3 texte3 texte3";
        margin: 0px 250px 0px 250px;
        padding: 90px 0 90px 0;
    }
    /* CARDS */
    .cards_boissons > .cards
    {
        max-width: 350px;
        min-width: 250px;
        min-height: 350px;
        max-height: 320px;
    }
    .cards_boissons > section 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
    }
    .cards_boissons > section > h1 
    {
        margin-bottom: 20px;
        text-decoration: underline;
    }
    /* -------------- FIN BOISSONS ------------------ */
    /* -------------- FORMULAIRE ------------------ */
    
    #formulaire > div
    {
        margin: 0 300px 0 300px;
        padding: 50px 0 80px 0;
    }
    #formulaire > div > *
    {
        width: 450px;
    }
    /* ------------ FIN FORMULAIRE ---------------- */
    /* -------------- CARTE BARS ------------------ */
    .carteBars
    {
        height: 700px; display: flex; text-align: center; justify-content: center; align-items: center; border-top: 5px solid black;
        background-color: #32152b;
        color: white;
    }
    .carteBars > div > img
    {
        max-width: 75%;
    }
    .carteBars :first-child
    {
        width: 100%;
        font-size: 1.7rem;
    }
    /* ------------ FIN CARTE BARS ---------------- */
    /* --------------- DÉBUT SLIDERS -------------- */
    .slide
    {
        margin: 50px;
    }
    .slider-container 
    {
        width: 60vw;
        margin: auto;
    }
    /* --------------- FIN SLIDERS -------------- */
}
